body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  color: #cc4700;
  font-size: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  background-color: #000; }

figure {
  width: 500px;
  height: auto;
  margin: 30px auto; }
  figure .header-logo {
    width: 100%;
    height: auto; }

header {
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }

section {
  width: 114rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0; }
  section .portrait {
    width: 7.5rem;
    height: 7.5rem;
    padding: 0;
    margin-top: 7.5rem;
    margin-right: 7.5rem;
    justify-content: space-around; }
    section .portrait:nth-child(1) {
      margin-left: 7.5rem; }
    section .portrait:nth-child(8) {
      margin-left: 7.5rem; }
    section .portrait:nth-child(15) {
      margin-left: 7.5rem; }
    section .portrait:nth-child(22) {
      margin-left: 7.5rem; }
    section .portrait:nth-child(29) {
      margin-left: 7.5rem; }
    section .portrait .torch {
      width: 7.5rem;
      height: 7.5rem;
      background-clip: border-box;
      border: 0.5rem solid #484848; }
